
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background: white;
    margin: 0;
    box-sizing: border-box;
}

/* Barra de Navegacion Horizontal */

ul.nav-top{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    font-weight:bold;
}

ul.nav-top li {
    float: left;
}

ul.nav-top li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    position: relative;
}

ul.nav-top li a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

ul.nav-top li a.active {
    background-color: #4CAF50;
}

/* Barra de navegacion verticual*/

ul.nav-lateral{
    height: 100%;
    width: 250px;
    margin-top: 45px;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

ul.nav-lateral li a {
    display: block;
    color: white;
    text-align: justify;
    padding: 15px 15px;
    text-decoration: none;
    margin-left: 25px;
}

ul.nav-lateral a:hover {
    background-color: #ddd;
    color: black;
}


.content {
    margin-left: 250px;
    padding-left: 20px;
}

